body{
 padding:0;
 margin:0;
 
}

a{
 padding-left: 5px;
 color:white;
}
#Heading{
 display:flex;
 position: sticky;
 border: solid 2px black;
 background-color: red;
 top: 0;
 width: auto;
 height: 40px;
 justify-content: start;
 align-items: center;
}

.H2Text{
 text-align: center;
}

.IntroText{
 display: flex;
 justify-self: center;
 text-align: center;
 width: 200px;
}