body{
 padding:0;
 margin:0;
 
}

a{
 padding-left: 5px;
 color:white;
}
#Heading{
 display:flex;
 position: sticky;
 border: solid 2px black;
 background-color: red;
 top: 0;
 width: auto;
 height: 40px;
 justify-content: start;
 align-items: center;
}

.H2Text{
 text-align: center;
}

.IntroText{
 display: flex;
 justify-self: center;
 text-align: center;
 width: 300px;
}

.Container{
 display:flex;
justify-content: center;
align-items: center;
text-align: center;
border: black solid 2px;
margin: 0 50px 0 50px;
padding: 100px 50px 100px 50px;
}

input{
 text-align: center;
 margin-bottom: 20px;
}